@font-face {
    font-family: Signika;
    src: url(../Fonts/Signika-VariableFont.ttf);
}
*, *::before, *::after{
    padding: 0; margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: Signika;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(145deg, #4F80E2 0%, #D5A3FF 100%);
}

.wrapper{
    width: 400px;
    padding: 30px;
    background: #FFF;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header{
    display: flex;
    align-items: center;
    height: 55px;
    border: 1px solid #CCC;
    border-radius: 30px;
    position: relative;
}

.wrapper label{
    height: 100%; width: 30%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.wrapper label:nth-child(2){
    width: 40%;
}

header .slider{
    position: absolute;
    height: 85%;
    background: #D5A3FF;
    border-radius: inherit;
    transition: all 0.3s ease;
}

#tab-1:checked ~ header .slider {
    left: 0%;
    width: 90px;
    transform: translateX(5%);
}
#tab-2:checked ~ header .slider {
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
}
#tab-3:checked ~ header .slider {
    left: 100%;
    width: 95px;
    transform: translateX(-105%);
}
#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2,
#tab-3:checked ~ header .tab-3{
    color: #FFF;
}

.wrapper input[type="radio"]{
    display: none;
}

.cards-area{
    overflow: hidden;
}
.cards-area .cards{
    width: 300%;
    display: flex;
}
.cards .row{
    width: 33.4%;
}
.cards .row-1{
    transition: all 0.3s ease;
}

#tab-1:checked ~ .cards-area .cards .row-1 {
   margin-left: 0%;
}
#tab-2:checked ~ .cards-area .cards .row-1 {
    margin-left: -33.4%;
}
#tab-3:checked ~ .cards-area .cards .row-1 {
    margin-left: -66.8%;
}

.row .pricing-details{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
}
.pricing-details span{
    font-size: 65px;
    font-weight: 600;
    position: relative;
}

.pricing-details span::before,
.pricing-details span::after{
    position: absolute;
    font-weight: 400;
}

.pricing-details span::before{
    content: "$";
    font-size: 20px;
    left: -13px;
    top: 17px;
}
.pricing-details span::after{
    content: "/month";
    font-size: 13px;
    right: -35px;
    bottom: 15px;
}
.pricing-details p{
    font-size: 18px;
    margin-top: 5px;
}

.row .features li{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 15px;
}
.row .features li i{
    color: #77A5F8;
}
.row .features li span{
    margin-left: 10px;
}

.wrapper button{
    height: 55px; width: 100%;
    margin-right: 20px;
    border: none; outline: none;
    font-family: Signika;
    font-size: 18px;
    color: #FFF;
    background: #4F80E2;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.wrapper button:hover{
    transform: scale(0.98);
}